body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  color: #404040;
}

a:hover {
  color: #007bff;
  text-decoration: underline;
}

blockquote {
  width: 100%;
  padding: 1.2em;
  color: #165c26;
  background-color: #dcffe4;
  border: 1px solid rgba(27,31,35,.15);
  border-radius: 3px;
}

blockquote::before {
  content: "🔥 Tip";
  font-size: 14px;
  font-weight: 600;
  opacity: .7;
}

blockquote p {
  margin-bottom: 0;
}

footer a {
  color: white;
}

footer a:hover {
  color: #c0bec2;
  text-decoration: none;
}

.hero-banner {
  margin: 0;
  background-color: white;
  color: #404040;
}

.post-hero-banner {
  background: white;
  margin: 0;
}

.category-hero-banner {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
  margin: 0;
}

.mail-box {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  padding: 2.5rem;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  border-radius: .5rem;
}

.mail-box h1 {
  font-size: 1.8rem;
  color: #222;
}

.container-small {
  max-width: 680px;
}

h1 {
  font-size: 1.4rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

h2 {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 0 .8rem 0;
  margin-bottom: 1.4rem;
  border-bottom: 2px solid #e6e6e6;
}

h2.no-underline {
  border: none !important;
}

h3 {
  font-size: 1.2rem;
  margin: 2.5rem 0 1rem 0;
}

.hero-banner h2 {
  font-size: 1.0rem;
  font-weight: 400;
}

.jumbotron {
  padding: 6.5rem 0 .5rem 0 !important;
}

.banner {
  background: black;
  color: white;
  height: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.banner a {
  color: #63c1ff;
  text-decoration: underline;
}

.floating-wrapper {
  height: 100%;
}

.floating-related-post {
  position: sticky;
  right: 0;
  top: 120px;
  float: right;
}

.floating-social {
  margin-top: 35px;
  width: 100%;
  position: sticky;
  right: 0;
  top: 380px;
  float: left;
}

.social-circle {
  padding: 8px;
  color: white;
  border-radius: 50%;
  opacity: 0.5;
}

.twitter {
  background: #1da1f2;
}

.sidebar-newsletter {
  right: 0;
  top: 0;
  border: 1px #E7EEF2 solid;
  border-radius: 3px;
  background: #F5F8FA;
  padding: 1rem;
  text-align: center;
}

.newsletter-small-text {
  font-size: .7rem;
}

@media (min-width: 768px) {
  p {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
  }
  li {
    padding: .5rem 0;
    font-size: 1.1rem;
  }
  .author-block img {
    width: 100px;
  }
  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
  }
  .hero-banner h2 {
    font-size: 1.4rem;
    font-weight: 400;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 1.8rem;
    font-weight: 700;
    padding-bottom: 1rem;
  }
  .hero-banner h2 {
    font-size: 1.2rem;
    font-weight: 400;
  }
  nav .links a {
    font-size: 1rem;
    margin-right: .1rem;
    padding: .5rem 1.1rem;
  }
}

h4 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  padding-bottom: .3rem;
  border-bottom: 1px solid #dcdcdc;
}

.author-block {
  font-size: .9rem;
  background: #00000008;
  border-radius: 3px;
  padding: 2rem;
}

.author-date {
  font-size: 1rem;
}

.card {
  border: none;
}

.card-title a {
  color: #222;
  font-size: 1rem;
  font-weight: 700;
}

.card-text {
  padding-bottom: 2rem;
}

.card a {
  color: #000;
}

.card-body {
  padding: 0 !important;
}

.card-foot {
  position: absolute;
  bottom: 20px;
  width: 90%;
}

.page-content {
  padding: 2rem 0 5rem 0;
}

footer {
  color: white;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.badge {
  padding: .4rem;
  font-size: .8rem;
}

.badge-featured {
  background: #637ad1;
}

/* Block Cards */

.block-card {
  min-height: 255px;
  max-height: 255px;
  cursor: pointer;
}

.block-card a {
  text-decoration: none;
}

.block-img-top {
  height: 120px;
  object-fit: cover;
  border-radius: 3px;
}

.block-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Blocks */
.wp-block-image {
  text-align: center;
}

.wp-block-image img {
  max-width: 100%;
  height: auto;
}

/* Comments */

.comment-reply-title {
  font-weight: 700;
}

.comment {
  padding: 2rem 0 2rem 0;
}

.depth-2, .depth-3, .depth-4, .depth-5, .depth-6 {
  margin-left: 20px;
}

.comment-author img {
  border-radius: 50%;
}

.comment-author cite {
  padding-left: 20px;
  font-style: normal;
  font-weight: 700;
}

.comment-author span {
  display: none;
}

.comment-meta {
  padding-top: 10px;
}

.comment-meta a {
  color: #8d8d8d;
  font-size: .9rem;
}

.comment p {
  padding-top: 20px;
}

.monthly-newsletter-box {
  border: 1px #E7EEF2 solid;
  border-radius: 3px;
  background: #F5F8FA;
  padding: 2rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 999;
  width: 100%;
  border-bottom: 2px solid #eee;
  font-size: .85rem;
}

.main-navbar {
  padding: 0;
  height: 70px;
}

.header-image img {
  width: 50%;
}

.navbar-toggler {
  border: none;
}

.javascript-icon {
  color: #ffe221;
}

.react-icon {
  color: #5eb4e8;
}

.navbar-right-items {
  font-size: 1.6rem;
}

/* Nav */

.nav {
  display: flex;
  height: 70px;
  max-width: 950px;
  margin: auto;
  padding: 0 15px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  color: #666;
  text-decoration: none;
}

/* Brand  */

.navbar-brand {
  padding: 0;
  margin-right: 0;
  font-size: 1rem;
}

.navbar-brand a img {
  width: 25px;
}

.navbar-brand a {
  color: #333;
}

/* Links */
.nav .links {
  width: auto;
  order: 0;
  margin: 0;
  display: flex;
}

.nav .links a {
  font-size: 1rem;
  margin-right: .1rem;
  padding: .5rem 1.1rem;
  display: flex;
  align-items: center;
}

.nav .links a:hover {
  background: #f2f2f2;
  border-radius: 3px;
}

.links .about {
  color: #5ad8b1;
}

.links .newsletter {
  color: #3690f1
}

.links .tutorials {
  color: #65b6cc;
}

/* Extra */
.nav .extra a {
  font-size: 1.2rem;
  padding: .6rem;
}

@media (max-width: 600px) {
  p {
    font-size: 1rem;
  }

  li {
    padding: .5rem 0;
    font-size: 1rem;
  }

  .author-block img {
    width: 30px;
  }

  .navbar-brand {
    font-size: 1.0rem;
  }

  .nav .links {
    order: 2;
  }

  .nav .links a {
    font-size: .9rem;
  }

  .nav .extra a {
    font-size: 1rem;
  }

}

.featured-card {
  min-height: 0;
}

.featured-card-img {
  max-width: 100%;
  border-radius: calc(.25rem - 1px);
}

.related-tutorial-card-img {
  height: 130px;
  border-radius: calc(.25rem - 1px);
}

.card-img-top {
  width: 100%;
}

.highlight {
  color: black;
  font-weight: 600;
}

.font-sm {
  font-size: .7rem;
}

@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/upmostly.eot?byzpwy');
  src:  url('./fonts/upmostly.eot?byzpwy#iefix') format('embedded-opentype'),
  url('./fonts/upmostly.ttf?byzpwy') format('truetype'),
  url('./fonts/upmostly.woff?byzpwy') format('woff'),
  url('./fonts/upmostly.svg?byzpwy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-code:before {
  content: "\e900";
}
.icon-envelope:before {
  content: "\e901";
}
.icon-react:before {
  content: "\e903";
  color: #61dafb;
}
.icon-twitter:before {
  content: "\e902";
}
.icon-github:before {
  content: "\eab0";
}

/* Most Read */
.most-read-number {
  font-size: 1.4rem;
  color: #447bfc;
}

.hover-pop {
  transition: all .3s cubic-bezier(.25,.8,.25,1);
}

.hover-pop:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  transform: translate(0,-5px);
}

/* Getting Started Cards */
.category-card {
  height: 200px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;

  color: white;
}

.no-underline {
  text-decoration: none !important;
}

.card-img-top {
  border-radius: 3px !important;
}

.category-color {
  z-index: 9;
  width: 3px;
  height: 35px;
}

.category-heading {
  padding-right: 20px;
  padding-left: 10px;
  margin-bottom: 0;
  background: white;
  z-index: 99;
  padding-top: 0;
}

.card-body p {
  color: #868686;
  font-size: .9rem;
  line-height: 1.125rem;
}

.heading-line {
  width: 90%;
  height: 2px;
  position: absolute;
  background: #e6e6e6;
}

.category-tags {
  margin-top: 1rem;
}

.category-tag {
  border-style: solid;
  border-radius: 100px;
  border-width: 2px;
  border-color: #EDEFF0;
  font-size: 12px;
  text-align: center;
  padding: .4rem;
  margin: .3rem;
  transition: 0.2s ease-in-out;
}

.category-tag:hover {
  box-shadow: none;
  border-style: solid;
  border-width: 2px;
  border-color: #3690f1;
}

.category-tag a {
  text-decoration: none;
  color: #404040;
}

/* Jobs */

#wpjb-top-search {
  background: #ffffff !important;
  color: #546e7a !important;
  font-size: 13px !important;
  clear: both !important;
  margin: 0 0 12px 0 !important;
}

#wpjb-top-search ul li {
  font-size: 12px !important;
}

.wpjb-cute-input.wpjb-cute-checkbox .wpjb-cute-input-indicator:after {
  top: 4px !important;
  left: 7px !important;
  width: 5px !important;
  height: 8px !important;
}

.wpjb-cute-input input:checked ~ .wpjb-cute-input-indicator {
  background: #404b58 !important;
}

.wpjb .wpjb-top-header {
  background: #ffffff !important;
}

.job-description p {
  font-size: 1rem !important;
}

.wpjb .wpjb-text ol li, .wpjb .wpjb-text ul li {
  font-size: 1rem !important;
}

.job-save-button, .wpjb-place-order {
  text-decoration: none;
  color: white !important;
}

.wpjb-place-order {
  display: block;
  text-align: center;
}

a#job-previous-button, a#job-save-button, .wpjb-place-order {
  color: #fff !important;
  background: #4a2eff -webkit-gradient(linear,left bottom,left top,from(rgba(0,179,136,.001)),to(#3a67fc)) !important;
  border: none !important;
  border-radius: 3px !important;
  box-shadow: 0 3px 0 0 transparent !important;
  cursor: pointer !important;
  font-weight: 600 !important;
  height: 50px !important;
  line-height: 40px !important;
  padding: 5px 20px !important;
  transition: all .234s ease-in-out !important;
  justify-content: center !important;
}

a#job-save-button:hover, a#job-previous-button:hover, .wpjb-place-order:hover {
  color: white;
  text-decoration: none;
  background-color: #15317d;
  box-shadow: 0 3px 0 0 rgba(0,0,0,.03), inset 0 0 0 1px rgb(23, 43, 101);
}

#wpjb_submit {
  background: #4a2eff -webkit-gradient(linear,left bottom,left top,from(rgba(0,179,136,.001)),to(#3a67fc));
  border: none;
  border-radius: 3px;
  box-shadow: 0 3px 0 0 transparent;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  height: 50px;
  line-height: 40px;
  padding: 5px 20px;
  -webkit-transition: all .234s ease-in-out;
  transition: all .234s ease-in-out;
  width: 100%;
  display: flex;
  justify-content: center;
}

#wpjb_submit:hover {
  color: white;
  text-decoration: none;
  background-color: #15317d;
  box-shadow: 0 3px 0 0 rgba(0,0,0,.03), inset 0 0 0 1px rgb(23, 43, 101);
}

.job-apply-button {
  background: #00b388 -webkit-gradient(linear,left bottom,left top,from(rgba(0,179,136,.001)),to(#00b388)) !important;
  border: none;
  border-radius: 3px;
  box-shadow: 0 3px 0 0 transparent;
  color: #fff !important;
  cursor: pointer !important;
  font-weight: 600 !important;
  height: 50px !important;
  line-height: 40px !important;
  padding: 5px 20px !important;
  -webkit-transition: all .234s ease-in-out;
  transition: all .234s ease-in-out;
  width: 100%;
  display: flex;
  justify-content: center;
}

.job-apply-button:hover {
  color: white;
  text-decoration: none;
  background-color: #009571;
  box-shadow: 0 3px 0 0 rgba(0,0,0,.03), inset 0 0 0 1px rgba(44,173,0,.5);
}

.job-meta-box .label {
  margin-bottom: 4px;
  color: #050c26;
  font-weight: 500;
}

.sub-header {
  font-size: 20px;
  line-height: 1.4;
  color: #525769;
  font-weight: 500;
}

.jobs-header {
  top: 0;
  left: 0;
  background: transparent;
  z-index: 999;
  width: 100%;
  border: none;
  font-size: .85rem;
  position: absolute;
}

.jobs-header a {
  color: #ffffff;
}

.jobs-hero {
  color: white;
  background-size: cover !important;
  background-position: center !important;
  background: linear-gradient(to top, #1b2d61c9 0%, #21304cd1 100%, #6b8cce 100%, #a2b6df 100%), url(./upmostly-jobs-hero-background.jpg) no-repeat;
}

.wpjb ul.wpjb-add-job-steps {
  background: #fff !important;
}

.wpjb .wpjb-motif-border-bottom {
  border-bottom-color: #39434f !important;
}

.wpjb .wpjb-motif-bg {
  background-color: #3c4753 !important;
}

.job-heading {
  font-weight: 400;
  font-size: 1rem;
  padding: 1rem 0 .8rem 0;
  border: none;
}

.btn-post-a-job {
  background: #00A896;
  border: none;
}

.btn-post-a-job:hover {
  background: #02776b;
}

.price-card-header {
  background: #7f3df2 !important;
  color: white !important;
  height: 60px !important;
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
}

.starter-kit-button {
  -webkit-animation: button-gradient 25s ease infinite;
  animation: button-gradient 25s ease infinite;
  background-image: -webkit-linear-gradient(65deg,#21d4fd,#b721ff 50%,#017eff);
  background-image: linear-gradient(25deg,#21d4fd,#b721ff 50%,#017eff);
  background-size: 500%;
  border: none;
  border-radius: 3px;
  box-shadow: 0 3px 0 0 #5664a7;
  font-size: 18px !important;
  font-weight: 600;
  padding: 1rem;
  text-decoration: none;
  color: white !important;
}

.starter-kit-button:hover {
  text-decoration: none !important;
}