body {
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #404040;
}

a:hover {
  color: #007bff;
  text-decoration: underline;
}

.btn:hover {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

blockquote {
  width: 100%;
  padding: 1.2em;
  color: #165c26;
  background-color: #dcffe4;
  border: 1px solid rgba(27,31,35,.15);
  border-left: 10px solid #96f1b5;
  border-radius: 3px;
}

blockquote::before {
  content: "🔥 Tip";
  font-size: 14px;
  font-weight: 600;
  opacity: .7;
}

blockquote p {
  margin-bottom: 0;
}

li {
  padding: .5rem 0;
  font-size: 1.1rem;
}

footer a {
  color: white;
  text-decoration: underline;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}

.hero-banner {
  margin: 0;
  background-color: white;
  color: #404040;
}

.post-hero-banner {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  margin: 0;
}

.category-hero-banner {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
  margin: 0;
}

.mail-box {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  padding: 2.5rem;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  border-radius: .5rem;
}

.mail-box h1 {
  font-size: 1.8rem;
  color: #222;
}

.container-small {
  max-width: 680px;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

h2 {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 2rem 0 1rem 0;
}

h3 {
  font-size: 1.4rem;
  margin: 2.5rem 0 1rem 0;
}

.hero-banner h2 {
  font-size: 1.4rem;
  font-weight: 400;
}

.jumbotron {
  padding: 6.5rem 0 .5rem 0 !important;
}

@media (min-width: 768px) {
  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
  }
  .hero-banner h2 {
    font-size: 1.4rem;
    font-weight: 400;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1rem;
  }
  .hero-banner h2 {
    font-size: 1.8rem;
    font-weight: 400;
  }
  nav .links a {
    font-size: 1.1rem;
    margin-right: .1rem;
    padding: .5rem 1.1rem;
  }
}

h4 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  padding-bottom: .3rem;
  border-bottom: 1px solid #dcdcdc;
}

.btn {
  font-weight: 600;
  font-size: 1.1rem;
}

.author {
  font-size: 1.1rem;
}

.author img {
  width: 40px;
}

.author-date {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.card {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border: none;
  min-height: 330px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
  transform: translate(0, -5px);
}

.card a {
  text-decoration: none;
}

.card-title {
  color: #222;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 700;
}

.card-text {
  padding-bottom: 2rem;
}

.card-body a:hover {
  color: black;
}

.card-foot {
  position: absolute;
  bottom: 20px;
  width: 90%;
}

.page-content {
  padding: 2rem 0 5rem 0;
}

footer {
  color: white;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

/* Block Cards */

.block-card {
  min-height: 255px;
  max-height: 255px;
  cursor: pointer;
}

.block-card a {
  text-decoration: none;
}

.block-img-top {
  height: 120px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.block-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Blocks */
.wp-block-image {
  text-align: center;
}

.wp-block-image img {
  max-width: 100%;
  height: auto;
}

/* Comments */

.comment {
  padding: 2rem 0 2rem 0;
}

.depth-2, .depth-3, .depth-4, .depth-5, .depth-6 {
  margin-left: 20px;
}

.comment-author img {
  border-radius: 50%;
}

.comment-author cite {
  padding-left: 20px;
  font-style: normal;
  font-weight: 700;
}

.comment-author span {
  display: none;
}

.comment-meta {
  padding-top: 10px;
}

.comment-meta a {
  color: #8d8d8d;
  font-size: .9rem;
}

.comment p {
  padding-top: 20px;
}

.monthly-newsletter-box {
  border: 1px #E7EEF2 solid;
  border-radius: 3px;
  background: #F5F8FA;
  padding: 2rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 1;
  width: 100%;
  border-bottom: 2px solid #eee;
  font-size: .85rem;
}

.main-navbar {
  padding: 0;
  height: 70px;
}

.header-image img {
  width: 50%;
}

.navbar-toggler {
  border: none;
}

.javascript-icon {
  color: #ffe221;
}

.react-icon {
  color: #5eb4e8;
}

.navbar-right-items {
  font-size: 1.6rem;
}

/* Nav */

.nav {
  display: flex;
  height: 70px;
  max-width: 850px;
  margin: auto;
  padding: 0 15px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  color: #666;
  text-decoration: none;
}

/* Brand  */

.navbar-brand {
  padding: 0;
  margin-right: 0;
}

.navbar-brand a img {
  width: 25px;
}

.navbar-brand a {
  color: #333;
}

/* Links */
.nav .links {
  width: auto;
  order: 0;
  margin: 0;
}

.nav .links a {
  font-size: 1.1rem;
  margin-right: .1rem;
  padding: .5rem 1.1rem;
}

.nav .links a:hover {
  background: #f2f2f2;
}

.links .about {
  color: #dc3545;
}

.links .newsletter {
  color: #6f47a9
}

.links .tutorials {
  color: #17a2b8;
}

/* Extra */
.nav .extra a {
  font-size: 1.2rem;
  padding: .6rem;
}

@media (max-width: 600px) {
  .navbar-brand {
    font-size: 1.0rem;
  }

  .nav .links {
    order: 2;
  }
  .nav .links a {
    font-size: .9rem;
  }
  .nav .extra a {
    font-size: 1rem;
  }
}

.featured-card {
  min-height: 0;
}

.featured-card-img {
  border-radius: calc(.25rem - 1px);
}
